/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #c9d1d9;
    background-color: #0c0d0f;
}

.container {
    padding: 20px;
    opacity: 0;
    animation: curlAppear 1s ease-out forwards;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    border-radius: 15px;
    margin: 20px;
    border: 2px solid aqua;
    background-color: #161b22;
    opacity: 0;
    animation: curlAppear 1.2s ease-out forwards;
}

.header h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu i {
    margin-left: 25px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.5s;
}

/* Notification */
.notification {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid aqua;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    opacity: 0;
    animation: curlAppear 1.4s ease-out forwards;
}

.notification a {
    color: aqua;
    text-decoration: underline;
}

.notification .close-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #333;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid aqua;
}

/* Sidebar */
.sidebar a {
    padding: 15px 20px;
    font-size: 20px;
}

/* Section */
section h2 {
    font-size: 26px;
}

section h3 {
    font-size: 22px;
}

/* Folder */
.folder {
    padding: 15px;
    font-size: 22px;
}

.folder button {
    font-size: 22px;
}

/* List */
ul li {
    padding: 15px;
}

ul li span {
    font-size: 18px;
}

/* Card */
.card {
    padding: 25px;
}

.card h2 {
    font-size: 22px;
}

.card .icon {
    font-size: 60px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }

    .notification {
        font-size: 20px;
    }

    .folder {
        font-size: 18px;
    }

    ul li span {
        font-size: 16px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card .icon {
        font-size: 50px;
    }
}
